
body {
    background-color: palevioletred;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 23%, 91%);

}

h1 {
    text-align: center;
    font-family: cursive;
    color: white;
    margin-top: 20px;

}

nav {
    text-align: center; 
    margin-top: 10px;
}
nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 20px;
}

p {
    text-align: center;
    color: white;
}

.product {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;

}

.product {
    background: white;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 220px;
    border-radius: 10px;

}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;

}

footer {
    text-align: center;
    margin-top: 40px;
    color: white;


}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: pink;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;


}